@charset "UTF-8"; /* 인코딩 문자 깨짐 방지 */
/* 이미지 폰트 */
/* @import url("fontawesome-all.min.css"); */
/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");


/* common ----------------------------------- */

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* em -> 부모
        rem -> 최상위 부모 */
}

*, *:before, *:after {
    box-sizing: inherit;
}


body, p {
    background: #fff;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 2.0;
}

a {
    text-decoration: none;      /* 하이퍼링크 밑줄 없애기 */
}


/* layout ---------------------------------------- */
.pageLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* header ---------------------------------------- */

.header-class {
    min-height: 100vh;
    background: linear-gradient(180deg,rgba(27, 27, 27, 0.8) 0,rgba(27, 27, 27, 0.8) 90%),
            url("../images/home.jpg") 50% no-repeat;
    flex-direction: column;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: end;
    max-width: 650px;
    margin: 0 18% 0 auto;
    z-index: 10;
}

.header-text {
    display: flex;
    background: rgba(0,0,0,.6);
    height: 50px;
    width: 650px;
    border-radius: 2px 2px 30px 30px;
}

.header-text ul{
    display: flex;
    list-style-type: none;
    font-size: 0.95rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 40px;
}

.header-text li {
    margin-right: 36px;
}

.header-text a {
    color: #8d8a8a;
}

.header-text a:hover{
    color: #fff;
}

/* home -------------------------------------- */

.home-content {
    text-align: center;
    margin-top: 18%;
    line-height: 60px;
}

.page-title {
    color: #fff;
    font-size: 4rem;
    /* text-shadow: 2px 2px 4px #fff; */
}


/* content -------------------------------------- */


.wrapper {
    width: 70%;
    max-width: 1500px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 3rem 6rem;
    /* border-bottom: #c1c2c4 1px solid; */
}

.wrapper2 {
    width: 70%;
    background-color: #d9be94;
    border-radius: 20px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3rem 6rem;
    /* border-bottom: #c1c2c4 1px solid; */
}


.content {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.container {
    width: 100%;
    max-width: 1718px;
    align-self: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.section_title_text {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    font-style: italic;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}


/* aboutMe */
.aboutMe_goodText {
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

.aboutMe_info {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
}

.aboutMe_info p {
    color: #434446;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 15px;
}

.aboutMe_info .contact {
    /* color: #491bc5; */
    padding-right: 100px;
}

.contact_list {
    margin-top: 20px;
}

.contact_list a {
    color: #434446;
}

.contact_list a:hover {
    color: #93c550;
}

.contact_list .contact_title {
    margin-right: 15px;
    font-weight: 900;
    font-size: 1.05rem;
    color: #491bc5;
}

.contact_list p {
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

/* education, career */
#education {
    background-color: #e7e6e6;
}

.shadowBox_left {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 30%;
}

.shadowBox_mid {
    position: relative;
    width: 15%;
    flex-grow: 0;
    flex-shrink: 0;
    transition: opacity 200ms ease-out 0s;
    opacity: 0;
}

.shadowBox_right {
    padding-top: 12px;
    padding-bottom: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
}

.shadowBox_title {
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 2;
}

.shadowBox_content {
    font-size: 1rem;
    line-height: 1.5;
}

.shadowBox_content li {
    list-style-type: square;
    margin-top: 3px;
    margin-left: 1em;
}

.shadowBox {
    display: flex;
    width: 80%;
    padding: 1.5rem;
    margin: 0 10% 2em;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
}

.shadowBox2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
}

.shadowBox2_title_big {
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

.shadowBox2_title_small {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.shadowBox2_top {
    padding: 2% 0;
}

.shadowBox2_bottom {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.shadowBox_img img{
    width: 100%;
}

.shadowBox2_left {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
}

.shadowBox2_right {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
    padding: 0 3%;
}

.shadowBox2_about {
    font-size: 13pt;
    font-weight: 400;
    line-height: 2.0;
    margin-bottom: 30px;
    padding-bottom: 80px;
    border-bottom: 1px solid #c1c2c4;
}

.shadowBox2_about p {
    font-size: 12pt;
    font-weight: 400;
    line-height: 2.0;
    margin-bottom: 30px;
}

.shadowBox2_content {
    font-size: 1rem;
    line-height: 2;
}

.shadowBox2_content li {
    list-style-type: disclosure-open;
    margin-top: 3px;
    margin-left: 1em;
}

.shadowBox2_content img {
    width: 20px;
    height: 20px;
}



/* skills */

.skills-flex {
    display: flex;
    
}

.skills-Box {
    flex-direction: row;
    width: 100%;
    padding: 1.5rem;
    margin: 0 2% 2em;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
}

.skills-title {
    text-align: center;
    font-style: italic;
    padding: 5px 2rem;
    font-weight: 900;
    font-size: 1.5rem;
    color: #e7c320;
    border-bottom: #c1c2c4 1px solid;
    line-height: 2;
}

.skills-img img {
    width: 100%;
    margin-top: 20px;
}


/* career */
#career {
    background-color: #e7e6e6;
}




/* footer -------------------------------------- */
.footer-class {
    flex-direction: column;
    height: 11rem;
    padding-top: 3rem;
    background-color: #222;
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons .icons-bg-white {
    background-color: #fff;
}

.footer-icons li {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    margin: 0 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.footer-icons li img {
    width: 100%;
}

.footer-copyright {
    font-weight: 400;
    font-size: .9rem;
    color: #f5f5f5;
}


/* typing -------------------------------------- */
.blink {
    animation: blink 0.5s infinite;
    font-size: 5rem;
    color: #fff;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}


