<!DOCTYPE HTML>
<html lang="ko">
	<head>
		<title>백엔드 개발자 박헌진 포트폴리오입니다.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../resources/css/ex_main.css" />
		<!-- <link rel="stylesheet" href="../resources/css/main.css" /> -->
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="images/park.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">ParkHeonJin</a></h1>
					
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">Introduction</a></li>
						<li><a href="#two">SkillSet</a></li>
						<li><a href="#three">Portfolio</a></li>
						<li><a href="#four">Contact</a></li>
					</ul>
				</nav>
				
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								
								<div class="container">
									<header class="major">
										<h2>Introduction</h2>
										<p>안녕하세요.&nbsp; <br>
										저는 신입 백엔드 개발자<br> 박헌진입니다.</p>
									</header>
									<p>
                                    "아는 것 만으로는 충분하지 않다. 적용할 줄 알아야 한다. 의지만 갖고는 충분하지 않다. 행동으로 옮겨야 한다." -이소룡-<br>
                                    공부를 하고 나서 거기서 그치지 않고 관련된 기술을 적용해 개발을 해보거나 필요한 프로그램을 개발 하는 것을 좋아합니다.<br>
                                    백엔드 기술에 관심이 있으며 커뮤니케이션 및 코드 리뷰 하는 것을 좋아합니다.<br>
				                    현재 신입 백엔드 개발자로 구직중입니다.<br>
									    
									</p>
									<hr>
									<header class="major">
										<h4>Overall Experiences</h4>
										<h5>계절학기 현장 실습</h5>
										<p>2019.06. - 2019.08.</p>
										<p5>공공기관 기업에서 2달 동안 현장 실습을 하였습니다.&nbsp; 공공기관 프로젝트에서 화면 및 작동 테스트를 진행했었고,&nbsp;  새로 진행하는 프로젝트의 형상 관리(SVN)를 구축을 하였습니다. Spring Framework를 이용하여 게시판 구축 작업도 진행하였습니다.</p5><hr>
										<h5>Java 비교과 수업</h5>
										<p>2015.07. - 2015.08.</p>
										<p5>재학 중 방학동안 학교에서 진행하는 Java 기본에 대해서 수업을 받았습니다. 기본적인 문법을 터득 후 간단한 개인프로젝트를 진행했습니다.</p5><hr>
										<h5>선문대학교 컴퓨터공학과</h5>
										<p>2013.03. - 2020.02.</p>
										<p5>운영체제, 알고리즘, 자료구조 등 컴퓨터공학에 대해 조금 더 배워보고 싶어서 컴퓨터공학과로 전과를 하였습니다.&nbsp;  코딩을 하면서 오류를 고민하여 문제 해결하는 데에 있어서 성취감과 재미와 흥미를 느껴 컴퓨터공학과를 전공하게 되었습니다.</p5>
									</header>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>SkillSet</h3>
									<p>사용하는 언어 및 프레임워크</p>
									<ul class="feature-icons">
										<li class="icon solid fa-code">JAVA</li>
										<li class="icon solid fa-code">Spring</li>
										<li class="icon solid fa-code">HTML</li>
										<li class="icon solid fa-code">CSS</li>
										<li class="icon solid fa-code">JQuery</li>
										<li class="icon solid fa-code">Oracle</li>
										<li class="icon solid fa-code">MyBatis</li>
									</ul>
									<p>개발 도구</p>
									<ul class="feature-icons">
										<li class="icon solid fa-bolt">Eclipse</li>
										<li class="icon solid fa-bolt">GitHub</li>
										<li class="icon solid fa-bolt">Git(SourceTree)</li>
										<li class="icon solid fa-bolt">SQL Developer</li>
										<li class="icon solid fa-bolt">Android Studio</li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>Portfolio</h3>
									<div class="features">
										<article>
											<a href="https://github.com/heonjinPark/CDIMS" class="image"><img src="images/cdims_thumbnail.png" alt="" /></a>
											<div class="inner">
											    <a href="https://github.com/heonjinPark/CDIMS">
											         <h4>캡스톤디자인 통합 관리 시스템</h4>
                                                    <p>
                                                    학과 캡스톤디자인 문서 관리 웹 프로젝트입니다. <br>
                                                    오프라인 서류 제출의 불편함을 해소하고자 만든 온라인 문서 관리 서비스입니다.
                                                    </p>
											    </a>
											</div>
										</article>
										<article>
											<a href="https://github.com/heonjinPark/SunBaeNim" class="image"><img src="images/sunbaenim_thumbnail.jpeg" alt="" /></a>
											<div class="inner">
                                                <a href="https://github.com/heonjinPark/SunBaeNim">
                                                    <h4>학교 인근 배달 어플 앱 (선문대 배고픈 님들)</h4>
                                                    <p>학교 인근 주변인 트라팰리스 주변 배달가능지역과 연합타운 주변 배달가능지역들을 모아
                                                    메뉴별로 한눈에 알아볼 수 있도록 만든 앱입니다.</p>
                                                </a>
											</div>
										</article>
										
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" text-align="center">
								<div class="container">
									<h3>Contact Me</h3>
                                    <ul class="icons">
                                        <li>Phone : 010 - 2082 - 3080</li><br>
                                        <li>Email : heonjinPak@gmail.com</li><br>
                                        <li>Github : <a href="https://github.com/heonjinPark/">https://github.com/heonjinPark</a></li><br>
                                        <li>Blog : <a href="https://b2akceon.tistory.com">https://b2akceon.tistory.com</a></li><br>
                                    </ul>
								</div>
							</section>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li><li style="color: black;">이 사이트는 포트폴리오 용도로 제작하였으며 상업적인 용도로 사용하지 않음을 밝힙니다.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>