<!DOCTYPE HTML>
<html lang="ko">

<head>
	<title>김형수의 Portfolio</title>

	<!-- meta tag : metadata(정보에 대한 정보) 제공
    화면에 표시되지는 않지만 검색 엔진/브라우저에 읽힘 -->
	<meta charset="UTF-8">
	<!-- 뷰 포트 : 화면상의 화상 표시 영역. 너비를 디바이스에 맞춤. 기본 배율은 1.
    데스크탑 화면과 모바일 뷰 포트는 차이가 있기 때문에 필요한 설정. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- favicon 설정 (real Favicon Generator 활용)-->
	<link rel="icon" type="image/x-icon" href="../resources/images/favicon3.png">

	<!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
    브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
	<link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="../resources/css/main.css" />

	<!-- defer 병렬적으로 파싱과 JS 불러오기를 진행하게 되고 파싱이 모두 끝나면 JS를 실행함.  -->
	<script defer src="../resources/js/main.js"></script>

</head>

<body>
	<div class="pageLayout">

		<div class="header-class">
			<div class="page-header">
				<nav class="header-text">
					<ul>
						<li><a href="../view/main.html">HOME</a></li>
						<li><a href="#aboutMe">ABOUT ME</a></li>
						<li><a href="#education">EDUCATION</a></li>
						<li><a href="#skills">SKILLS</a></li>
						<li><a href="#career">CAREER</a></li>
						<li><a href="#project">PROJECT</a></li>
					</ul>
				</nav>
			</div>
			<div class="home-content">
				<span class="page-title"></span><span class="blink">|</span>
			</div>
		</div>

		<div class="content-class">

			<article id="aboutMe" class="wrapper">
				<div class="content">
					<div class="section_title_text">About me</div>
				</div>
				<div class="aboutMe_goodText">
					"생각하는 대로 살지 않으면, &nbsp 사는 대로 생각하게 된다." &nbsp&nbsp&nbsp - 폴 부르제 -
				</div>
				
				<div class="aboutMe_info">
					<div class="introduction">
						<h3>"다시 도전하는 신입 백엔드 개발자"</h3>
						<p>
							안녕하세요. 저는 백엔드 개발자 김형수입니다.<br>
							4년전 프론트엔드 개발자로 보람있게 일한 경험이 있지만 잠시 다른 일을 해보며<br>
							경력단절이 생겼지만 그 경험들을 토대로 다시 더 크게 성장할 계획입니다.<br>
							늦은만큼 더 많이 공부하고 노력하는 개발자가 되겠습니다.
						</p>
					</div>
					<div class="contact">
						<h3>CONTACT</h3>
						<div class="contact_list">
							<p><span class="contact_title">Email &nbsp&nbsp</span><a href="mailto:kimsu010@gmail.com" target="_blank">kimsu010@gmail.com</a></p>
							<p><span class="contact_title">Github</span><a href="https://github.com/brorsoo" target="_blank">https://github.com/brorsoo</a></p>
							<p><span class="contact_title">Tistory</span><a href="https://brorsoo.tistory.com/" target="_blank">https://brorsoo.tistory.com/</a></p>
						</div>
					</div>
				</div>
			</article>

			<article id="education" class="wrapper">
				<div class="content">
					<div class="section_title_text">Education</div>
				</div>
				<div class="container">
					<div class="shadowBox">
						<div class="shadowBox_left">
							<div class="shadowBox_title">하이미디어<br>아카데미 인재개발원</div>
							<div class="shadowBox_content">2023. 07 - 2023. 12</div>
						</div>
						<div class="shadowBox_mid"></div>
						<div class="shadowBox_right">
							<div class="shadowBox_title">React.js와 Springboot를 활용한 <br>자바 풀스택 개발자 과정</div>
							<div class="shadowBox_content">
								<ul>
									<li>스프링부트 개발 환경의 이해 및 기술 습득</li>
									<li>JPA를 활용한 ORM 프레임워크 기술 습득</li>
									<li>RestAPI 서버 개발 능력 습득</li>
									<li>React.js를 활용한 프론트엔드 서버 개발 능력 습득</li>
									<li>클라우드 서버 구축, 배포, 운영 등의 기술 습득</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="shadowBox">
						<div class="shadowBox_left">
							<div class="shadowBox_title">방송정보국제교육원</div>
							<div class="shadowBox_content">2015. 07 - 2015. 12</div>
						</div>
						<div class="shadowBox_mid"></div>
						<div class="shadowBox_right">
							<div class="shadowBox_title">NCS과정 정보시스템개발</div>
							<div class="shadowBox_content">
								<ul>
									<li>HTML5, CSS3, DBMS, JAVA, JavaScript, jQuery</li>
									<li>JSP & Servlet, Ajax, Spring Framework</li>
									<li>전자정부 표준프레임워크, 웹보안코딩</li>
									<li>과정중 개발반 반장수행<br>(11월,12월 연속 출석률과 성적우수반 선정)</li>
									<li>개인 출석률과 성실성을 인정받아 모범상 수상후 수료.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="shadowBox">
						<div class="shadowBox_left">
							<div class="shadowBox_title">백석대학교</div>
							<div class="shadowBox_content">2010. 03 - 2016. 02</div>
						</div>
						<div class="shadowBox_mid"></div>
						<div class="shadowBox_right">
							<div class="shadowBox_title">Security Engineer</div>
							<div class="shadowBox_content">
								<ul>
									<li>정보보호전공 - 학사</li>
									<li>2010 ~ 2016 (8학기) 성적우수 장학금 수혜</li>
									<li>종합 평점 : 3.96 / 4.5</li>
									<li>전공 평점 : 4.05 / 4.5</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article id="skills" class="wrapper">
				<div class="content">
					<div class="section_title_text">Skills</div>
				</div>
				<div class="container skills-flex">
					<div class="skills-Box">
						<div class="skills-title">Frontend</div>
						<div class="skills-img"><img src="../resources/images/frontend.png" /></div>
					</div>
					<div class="skills-Box">
						<div class="skills-title">Backend</div>
						<div class="skills-img"><img src="../resources/images/backend.png" /></div>
					</div>
					<div class="skills-Box">
						<div class="skills-title">Version Control</div>
						<div class="skills-img"><img src="../resources/images/versionControl.png" /></div>
					</div>
				</div>
				<div class="container skills-flex">
					<div class="skills-Box">
						<div class="skills-title">Communication</div>
						<div class="skills-img"><img src="../resources/images/communication.png" /></div>
					</div>
					<div class="skills-Box">
						<div class="skills-title">Deployment</div>
						<div class="skills-img"><img src="../resources/images/deployment.png" /></div>
					</div>
					<div class="skills-Box">
						<div class="skills-title">Certificate</div>
						<div class="skills-img"><img src="../resources/images/certificate.jpg" /></div>
					</div>
				</div>
			</article>

			<article id="career" class="wrapper">
				<div class="content">
					<div class="section_title_text">Career</div>
				</div>
				<div class="container">
					<div class="shadowBox">
						<div class="shadowBox_left">
							<div class="shadowBox_title">셀파소프트</div>
							<div class="shadowBox_content">2016. 01 - 2018. 06</div>
						</div>
						<div class="shadowBox_mid"></div>
						<div class="shadowBox_right">
							<div class="shadowBox_title">DB 성능 모니터링 솔루션 웹개발</div>
							<div class="shadowBox_content">
								<ul>
									<li>프론트엔드 개발자 근무</li>
									<li>기존 제품 차세대 고도화 개발 / 유지보수 / 성능개선</li>
									<li>DB 시점분석 jQuery, jqGrid, D3로 표현</li>
									<li>Sherpa Postgres, Mysql, Maria 설치간소화 UI 개발</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article id="project" class="wrapper2">
				<div class="content">
					<div class="section_title_text">Project</div>
				</div>
				<div class="container">

					<div class="shadowBox2">
						<div class="shadowBox2_top">
							<div class="shadowBox2_title_big">배불럭</div>
							<div class="shadowBox2_title_small">2015.12 (팀 프로젝트)</div>
						</div>

						<div class="shadowBox2_bottom">
							<div class="shadowBox2_left">
								<div class="shadowBox_img">
									<img src="../resources/images/baebulruck 1.png">
								</div>
							</div>
							<div class="shadowBox2_right">

								<div class="shadowBox2_about">
									<h3>푸드트럭 사업자를 위한 All-in-One 프로그램입니다.</h3><br>
									<p>1인 푸드 트럭을 운영하는 사업자가 주문 받은 메뉴를 일일이 기억할 필요 없도록 
									결제가 완료된 메뉴를 화면에 보여주고, <b>계산에 직접적으로 개입하지 않고 
									음식을 만드는 일에만 집중할 수 있도록</b> 도와주고 푸드 트럭을 이용하는 
									사람은 자신이 먹고 싶은 메뉴의 재료를 선택하여 주문할 수 있는 어플리케이션입니다.</p>
								</div>
								
								<div class="shadowBox2_about2">
									<div class="shadowBox2_content">
										<ul>
											<li><b>주요기능</b> - 메뉴등록, 매출관리, 주문현황, 재고관리</li>
											<li><b>Frontend</b> - #HTML #CSS #JavaScript #jQuery #JSP</li>
											<li><b>Backend</b> - #Java #Spring Framework #Oracle</li>
											<li><b>Link</b> - <a href="../resources/Baebulruck.pdf" target="_blank"><img src="../resources/images/homeIcon.png"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>

		</div>

		<div class="footer-class">
			<div class="footer-icons">
				<ul>
					<li class="icons-bg-white">
						<a href="https://github.com/brorsoo" target="_blank" title="GitHub">
							<img src="../resources/images/git-hub.png" />
						</a>
					</li>
					<li>
						<a href="https://brorsoo.tistory.com/" target="_blank" title="Tistory">
							<img src="../resources/images/tistory.png" />
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-copyright">
				&copy; 2023. Kim Hyoung Soo. All rights reserved.
			</div>
		</div>

	</div>

	

</body>

</html>