<!DOCTYPE HTML>
<html lang="ko">

<head>
	<title>백엔드 개발자 김형수 포트폴리오입니다.</title>

	<!-- meta tag : metadata(정보에 대한 정보) 제공
    화면에 표시되지는 않지만 검색 엔진/브라우저에 읽힘 -->
	<meta charset="UTF-8">
	<!-- 뷰 포트 : 화면상의 화상 표시 영역. 너비를 디바이스에 맞춤. 기본 배율은 1.
    데스크탑 화면과 모바일 뷰 포트는 차이가 있기 때문에 필요한 설정. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- favicon 설정 (real Favicon Generator 활용)-->
	<link rel="icon" type="image/x-icon" href="../resources/images/favicon3.png">

	<!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
    브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
	<link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" href="../resources/css/ex_main.css" />
	<!-- <link rel="stylesheet" href="../resources/css/main.css" /> -->
</head>

<body class="is-preload">

	<!-- Header -->
	<section id="header">
		<header>
			<span class="image avatar"><img src="images/park.jpg" alt="" /></span>
			<h1 id="logo"><a href="#">ParkHeonJin</a></h1>

		</header>
		<nav id="nav">
			<ul>
				<li><a href="#one" class="active">Introduction</a></li>
				<li><a href="#two">SkillSet</a></li>
				<li><a href="#three">Portfolio</a></li>
				<li><a href="#four">Contact</a></li>
			</ul>
		</nav>

	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one">

				<div class="container">
					<header class="major">
						<h2>Introduction</h2>
						<p>안녕하세요.&nbsp; <br>
							저는 신입 백엔드 개발자<br> 박헌진입니다.</p>
					</header>
					<p>
						"아는 것 만으로는 충분하지 않다. 적용할 줄 알아야 한다. 의지만 갖고는 충분하지 않다. 행동으로 옮겨야 한다." -이소룡-<br>
						공부를 하고 나서 거기서 그치지 않고 관련된 기술을 적용해 개발을 해보거나 필요한 프로그램을 개발 하는 것을 좋아합니다.<br>
						백엔드 기술에 관심이 있으며 커뮤니케이션 및 코드 리뷰 하는 것을 좋아합니다.<br>
						현재 신입 백엔드 개발자로 구직중입니다.<br>

					</p>
					<hr>
					<header class="major">
						
					</header>
				</div>
			</section>

			<!-- Two -->
			<section id="two">
				<div class="container">
					<h3>SkillSet</h3>
					
				</div>
			</section>

			<!-- Three -->
			<section id="three">
				<div class="container">
					<h3>Portfolio</h3>
					
				</div>
			</section>

			<!-- Four -->
			<section id="four" text-align="center">
				<div class="container">
					<h3>Contact Me</h3>
					
				</div>
			</section>
		</div>

		<!-- Footer -->
		<section id="footer">
			<div class="container">
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li>
					<li style="color: black;">이 사이트는 포트폴리오 용도로 제작하였으며 상업적인 용도로 사용하지 않음을 밝힙니다.</li>
				</ul>
			</div>
		</section>

	</div>
	

</body>

</html>